<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet 1-38</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        img {
            float: left;
            margin-right: 1rem;
        }
        .personne {
            clear: left;
            padding: 1rem;
        }
        input[type="checkbox"], select {
            margin-right: 1rem;
        }
        .misEnForme {
            background: #e0ffff;
            font-family: georgia;
            font-size: 1.2rem;
            margin: 1rem;
        }
    </style>
</head>

<body>
    <div id="app">
        <fieldset>
            <legend>Filtre sur le nom</legend>
            <input type="text" v-model="filtreNom">
        </fieldset>
        <fieldset>
            <legend>Options</legend>
            Homme <input type="checkbox" v-model="homme">
            Femme <input type="checkbox" v-model="femme">
            Afficher contacts <input type="checkbox" v-model="showContacts">
            Photo
            <select v-model="taille">
                <option value="1">Petit</option>
                <option value="2">Moyen</option>
                <option value="3">Grand</option>
            </select>
            Mise en forme <input type="checkbox" v-model="mef">
        </fieldset>
        <div class="personne" 
             v-for="p in filteredPeople"
             :class="{ misEnForme: mef }"
        >
            <img :src="getImageSize(p.picture)">
            <h3>{{p.name.title}} {{p.name.first}} {{p.name.last}}</h3>
            <div>Pays : {{p.location.country}}</div>
            <div class="contact-info">
                <div v-if="showContacts">
                    Tél: {{p.phone}}<br>
                    Email: {{p.email}}
                </div>
                <div v-else class="contact-toggle" @click="showContacts = !showContacts">
                    Afficher les contacts
                </div>
            </div>
        </div>
    </div>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    homme: true,
                    femme: true,
                    showContacts: false,
                    mef: false,
                    taille: 2,
                    filtreNom: '',
                    personnes: [] 
                }
            },
            computed: {
                filteredPeople() {
                    return this.personnes.filter(p => {
                        const nameMatch = this.filtreNom.toLowerCase();
                        const fullName = `${p.name.first} ${p.name.last}`.toLowerCase();
                        const genderMatch = 
                            (this.homme && p.name.title === 'Mr') ||
                            (this.femme && p.name.title === 'Mrs');
                        
                        return genderMatch && fullName.includes(nameMatch);
                    });
                }
            },
            methods: {
                getImageSize(picture) {
                    const sizes = { 1: 'thumbnail', 2: 'medium', 3: 'large' };
                    return picture[sizes[this.taille]];
                }
            },
            mounted() {
                fetch('personnes.json')
                    .then(response => response.json())
                    .then(data => this.personnes = data);
            }
        });
        app.mount('#app');
    </script>
</body>

</html>